html,
    body {
      height: 100%;
      padding: 0;
      margin: 0;
      font: 16px/25px "Helvetica Neue",Helvetica,Arial,sans-serif; 
    }
#root {
  height: 100%;
}
    .wrap {
      height: 100%;
      display: flex;
      flex-direction: column;
    }
.nav {
  height: 48px;
  align-items: center;
  background-color: #FFFFFF;
  font-size: .75rem;
}

.nav a {
  text-decoration: none;
  margin-left: 1rem;
}
.nav .logo {
  background-color: #1E262E;
  line-height: 48px;
  font-size: 1.1rem;
  text-align: center;
}
.nav .logo a {
  color: #FFFFFF;
}
    
    .main {
      background-color: #FAFBFC;
      flex: 1;
    }
    .main .content {
      padding: 0 1rem;
    }
    .upcoming-sessions {
      
      overflow: hidden;
    }
.upcoming-sessions .day {
  border-top: 2px solid lightgrey;
}
    .session-date {
      font-size: .8rem;
      font-weight: 600;
      padding: 1rem 0 0 0;
      display: block
    }
    .session-time {
      font-size: .8rem;
      font-weight: 300;
    }
    .student-name {
      display: block;
      font-weight: 600;
    }
    .phone {
      display: block;
    }
    .session-details {
      padding: 1rem 0;
      border-bottom: 1px dotted lightgrey;
    }
    .session-details.last {
      border-bottom: none;
    }
    .student-info {
      font-size: .9rem
    }
.action-button-container {
  position: fixed;
  z-index: 100;
  right: 2em;
  bottom: 2em;
}
.action-button-container .action-button {
  background-color: green;
  width: 50px;
  height: 50px;
    border-radius: 50%;
    overflow:hidden;
  border: none;
}


.overlay{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.9);
  z-index: 100;
}

.overlay label{
	width: 32px;
	height: 32px;
	position: absolute;
	right: 40px;
	top: 20px;
	background: url('http://tympanus.net/Development/FullscreenOverlayStyles/img/cross.png');
  background-size: contain;
	z-index: 100;
  cursor:pointer;
}

.overlay nav {
	text-align: center;
	position: relative;
	top: 50%;
	height: 60%;
	font-size: 24px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	position: relative;
}

.overlay ul li {
	display: block;
	height: 20%;
	height: calc(100% / 5);
	min-height: 54px;
}

.overlay ul li a {
	font-weight: 300;
	display: block;
	color: white;
  text-decoration:none;
	transition: color 0.2s;
  text-transform:uppercase;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
  text-decoration: underline;
}

.overlay-hugeinc nav {
	-moz-perspective: 300px;
}

.overlay-hugeinc nav ul {
/*
	opacity: 0.4;
	transform: translateY(-25%) rotateX(35deg);
	transition: transform 0.5s, opacity 0.5s;
*/
}





    h3 {
      font-size: .9rem;
      text-transform: uppercase;
      font-weight: 300;
    }
.text-right {
  text-align: right;
  padding-right: 2rem;
}